/*
공통적인 스타일링
*/
/* body {
  margin: 0;
  padding: 0;
} */
header,
main,
footer {
  width: 800px;
  margin: auto;
  background-color: cyan;
  border: 1px solid #080000;
}
header {
  background-color: salmon;
}

header{
  background-color: palegreen;
  border: 1px solid #080000;
  float
}

header#home{

}
header#home{

}
header#home li > a{

}