:root {
  --color-primary: var(--color-black);
  --color-primary: var(--color-blue);
  --color-primary: var(--color-orange);

  --color-white: #fff;
  --color-black: #000000;
  --color-blue: #1100ff;
  --color-orange: #ff8800;
  --color-gray: #858585;
}

body {
  margin: 0;
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
